<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0018_7.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_8.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_9.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_10.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_11.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_12.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_13.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_14.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_15.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>440</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_16.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>550</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_17.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_18.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_19.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>880</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_20.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>440</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_21.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>550</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_22.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_23.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>0018_24.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>880</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero1554.png</string>
			<key>realTextureFileName</key>
			<string>hero1554.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>